.direction-section {
    margin-top: 0!important;
    box-shadow: 1px 2px 4px rgba(0,0,0,.1)!important;
    margin-bottom: 10px!important;
    padding: 20px!important
}

.direction-benefits {
    margin-top: 30px!important
}

.direction-benefit {
    box-shadow: 1px 2px 4px rgba(0,0,0,.1)!important
}

.personal-sidebar {
    box-shadow: 1px 2px 4px rgba(0,0,0,.1)!important
}

.assistant-tool {
    display: block;
    position: relative;
    padding: 25px;
    text-decoration: none;
    border-radius: 0;
    box-shadow: 1px 2px 4px rgba(0,0,0,.1)!important;
    background-color: #fff;
    margin-bottom: 15px;
    color: #111;
    height: 145px
}

.assistant-tool.vertical {
    height: 165px
}

.assistant-tool:hover,.assistant-tool:focus,.assistant-tool:active {
    text-decoration: none;
    color: #111
}

.assistant-tool-head {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px
}

.assistant-tool-icon {
    width: 34px;
    height: 34px;
    margin-right: 10px;
    background: #f1f1f1;
    border-radius: 4px;
    margin-top: -3px
}

.assistant-tool-icon img {
    padding: 5px
}

.assistant-tool-name {
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -.02rem;
    font-size: 18px;
    text-overflow: ellipsis;
    display: flex;
    white-space: nowrap;
    height: 32px;
    margin-top: 4px;
    color: #616161;
    max-width: 240px;
    display: block
}

.assistant-tool-new-label {
    background: #f68600;
    color: #fff;
    padding: 2px 6px;
    font-size: 11px;
    border-radius: 6px;
    position: absolute;
    bottom: 10px;
    right: 10px
}

.assistant-tool-description {
    font-size: 14px;
    color: #444;
    margin-bottom: 0;
    margin-top: 20px;
    height: 40px;
    overflow: hidden
}

.assistant-tool.vertical .assistant-tool-description {
    height: 60px
}

.assistant-tools-head {
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -.02rem;
    font-size: 20px;
    margin-bottom: 15px
}

.assistant-favorite {
    color: gold;
    font-size: 20px
}

.assistant-document {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 0;
    box-shadow: 1px 2px 4px rgba(0,0,0,.1)!important;
    background-color: #fff;
    margin-bottom: 15px;
    color: #111;
    height: 62px
}

.assistant-document:hover,.assistant-document:focus,.assistant-document:active {
    text-decoration: none;
    color: #111
}

.assistant-document-name {
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -.02rem;
    font-size: 14px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #616161;
    display: block
}

.assistant-document-meta {
    color: #999;
    font-size: 12px
}

.assistant-promo {
    box-shadow: 1px 2px 4px rgba(0,0,0,.1)!important;
    padding: 40px 0;
    background: #6b9c96;
    background: linear-gradient(156deg,rgba(107,156,150,1) 0%,rgba(66,95,99,1) 26%,rgba(17,24,39,1) 100%);
    text-align: center;
    color: #fff
}

.assistant-promo-title {
    font-weight: 800;
    z-index: 22;
    color: #fff;
    text-align: center;
    letter-spacing: -.02rem;
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 50px;
    position: relative
}

.assistant-promo-description {
    z-index: 2;
    max-width: 80%;
    letter-spacing: -.02rem;
    color: #f9fafb;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    position: relative
}

.assistant-promo-cta {
    margin-top: 40px
}

.assistant-promo-cta-title {
    color: #fff;
    text-align: center;
    letter-spacing: -.02rem;
    font-size: 24px;
    width: 80%;
    margin: 20px auto;
    font-weight: 700;
    line-height: 34px;
    padding-top: 20px;
    border-top: 1px solid rgba(255,255,255,.3)
}

.assistant-promo-cta-button a {
    padding-left: 20px;
    padding-right: 20px
}

.assistant-promo-cta-description {
    max-width: 60%;
    letter-spacing: -.02rem;
    color: #f9fafb;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 32px;
    line-height: 24px
}

.assistant-promo-examples-block {
    margin: 10px 0 20px;
    color: #fff
}

.assistant-promo-examples span {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    color: #f9fafb;
    border: 1px solid rgba(246,246,253,.15)
}

.scroll-container {
}

.assistant-promo-examples {
}

.assistant-promo-examples.reverse {
}

@keyframes scroll {
    0% {
        transform: translate(0,0)
    }

    100% {
        transform: translate(-50%,0)
    }
}

@keyframes scroll-reverse {
    0% {
        transform: translate(-50%,0)
    }

    100% {
        transform: translate(0,0)
    }
}

.ai-subscription-promo-page {
    padding: 50px 50px 130px;
    background: #6b9c96;
    background: linear-gradient(156deg,rgba(107,156,150,1) 0%,rgba(66,95,99,1) 26%,rgba(17,24,39,1) 100%)
}

.ai-subscription-promo-page .h1-block {
    color: #fff;
    font-size: 34px;
    font-weight: 700
}

.vue-advanced-cropper {
    text-align: center;
    position: relative;
    user-select: none;
    max-height: 100%;
    max-width: 100%;
    direction: ltr
}

.vue-advanced-cropper__stretcher {
    pointer-events: none;
    position: relative;
    max-width: 100%;
    max-height: 100%
}

.vue-advanced-cropper__image {
    user-select: none;
    position: absolute;
    transform-origin: center;
    max-width: none!important
}

.vue-advanced-cropper__background,.vue-advanced-cropper__foreground {
    opacity: 1;
    background: #000;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%
}

.vue-advanced-cropper__foreground {
    opacity: .5
}

.vue-advanced-cropper__boundaries {
    opacity: 1;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 50%
}

.vue-advanced-cropper__cropper-wrapper {
    width: 100%;
    height: 100%
}

.vue-advanced-cropper__image-wrapper {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%
}

.vue-advanced-cropper__stencil-wrapper {
    position: absolute
}

.vue-handler-wrapper {
    position: absolute;
    transform: translate(-50%,-50%);
    width: 30px;
    height: 30px
}

.vue-handler-wrapper__draggable {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.vue-handler-wrapper--west-north {
    cursor: nw-resize
}

.vue-handler-wrapper--north {
    cursor: n-resize
}

.vue-handler-wrapper--east-north {
    cursor: ne-resize
}

.vue-handler-wrapper--east {
    cursor: e-resize
}

.vue-handler-wrapper--east-south {
    cursor: se-resize
}

.vue-handler-wrapper--south {
    cursor: s-resize
}

.vue-handler-wrapper--west-south {
    cursor: sw-resize
}

.vue-handler-wrapper--west {
    cursor: w-resize
}

.vue-handler-wrapper--disabled {
    cursor: auto
}

.vue-line-wrapper {
    background: 0 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center
}

.vue-line-wrapper--north,.vue-line-wrapper--south {
    height: 12px;
    width: 100%;
    left: 0;
    transform: translateY(-50%)
}

.vue-line-wrapper--north {
    top: 0;
    cursor: n-resize
}

.vue-line-wrapper--south {
    top: 100%;
    cursor: s-resize
}

.vue-line-wrapper--east,.vue-line-wrapper--west {
    width: 12px;
    height: 100%;
    transform: translateX(-50%);
    top: 0
}

.vue-line-wrapper--east {
    left: 100%;
    cursor: e-resize
}

.vue-line-wrapper--west {
    left: 0;
    cursor: w-resize
}

.vue-line-wrapper--disabled {
    cursor: auto
}

.vue-bounding-box {
    position: relative;
    height: 100%;
    width: 100%
}

.vue-bounding-box__handler {
    position: absolute
}

.vue-bounding-box__handler--west-north {
    left: 0;
    top: 0
}

.vue-bounding-box__handler--north {
    left: 50%;
    top: 0
}

.vue-bounding-box__handler--east-north {
    left: 100%;
    top: 0
}

.vue-bounding-box__handler--east {
    left: 100%;
    top: 50%
}

.vue-bounding-box__handler--east-south {
    left: 100%;
    top: 100%
}

.vue-bounding-box__handler--south {
    left: 50%;
    top: 100%
}

.vue-bounding-box__handler--west-south {
    left: 0;
    top: 100%
}

.vue-bounding-box__handler--west {
    left: 0;
    top: 50%
}

.vue-draggable-area {
    position: relative
}

.vue-preview-result {
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 100%
}

.vue-preview-result__wrapper {
    position: absolute
}

.vue-preview-result__image {
    pointer-events: none;
    position: relative;
    user-select: none;
    transform-origin: center;
    max-width: none!important
}

.vue-simple-handler {
    display: block;
    background: #fff;
    height: 10px;
    width: 10px
}

.vue-simple-line {
    background: 0 0;
    transition: border .5s;
    border-color: rgba(255,255,255,.3);
    border-width: 0;
    border-style: solid
}

.vue-simple-line--south,.vue-simple-line--north {
    height: 0;
    width: 100%
}

.vue-simple-line--east,.vue-simple-line--west {
    height: 100%;
    width: 0
}

.vue-simple-line--east {
    border-right-width: 1px
}

.vue-simple-line--west {
    border-left-width: 1px
}

.vue-simple-line--south {
    border-bottom-width: 1px
}

.vue-simple-line--north {
    border-top-width: 1px
}

.vue-simple-line--hover {
    opacity: 1;
    border-color: #fff
}

.vue-preview {
    overflow: hidden;
    box-sizing: border-box;
    position: relative
}

.vue-preview--fill {
    width: 100%;
    height: 100%;
    position: absolute
}

.vue-preview__wrapper {
    position: absolute;
    height: 100%;
    width: 100%
}

.vue-preview__image {
    pointer-events: none;
    position: absolute;
    user-select: none;
    transform-origin: center;
    max-width: none!important
}

.vue-rectangle-stencil {
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box
}

.vue-rectangle-stencil__preview {
    position: absolute;
    width: 100%;
    height: 100%
}

.vue-rectangle-stencil--movable {
    cursor: move
}

.vue-circle-stencil {
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: content-box;
    cursor: move
}

.vue-circle-stencil__preview {
    border-radius: 50%;
    position: absolute;
    width: 100%;
    height: 100%
}

.vue-circle-stencil--movable {
    cursor: move
}

.assitant-tool-general-block {
    background: #6b9c96;
    background: linear-gradient(156deg,rgba(107,156,150,1) 0%,rgba(66,95,99,1) 26%,rgba(17,24,39,1) 100%);
    color: #fff
}

.assitant-tool-general-block .assistant-tool-name {
    color: #fff!important;
    font-size: 32px;
    margin-top: 0
}

.assitant-tool-general-block .assistant-tool-description {
    color: #fff!important;
    font-size: 16px;
    margin-top: 10px;
    height: 50px
}
